/*
 Theme Name:   Veganos Child
 Theme URI:    N/A
 Description:  Veganos Child Theme
 Author:       Matija Petrovic
 Author URI:   N/A
 Template:     veganos
 Version:      1.0.1
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  veganos-child
*/


@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

* {
	font-family: 'Roboto-Condensed', sans-serif;
}
.site-branding .custom-logo {
	width: auto;
    max-height: 50px;
}

.main-navigation a {
	font-family: 'Roboto-Condensed', sans-serif;
	color: rgba(0,0,0, .87);
	font-weight: 400;
	text-transform: none;
	line-height: 1;
	text-decoration: none;
	font-size: 15px;
}

.blog h2.entry-title a {
	color: #0e83d7;
}

.blog h2.entry-title a:hover {
	color: #666;
}

.site-footer {
	background-color: #0e83d7;
	color: #fff;
}

.site-footer a {
	color: #fff !important;
}

@media screen and (min-width: 60em) {
.blog .grid-item, .archive .grid-item {
		width: 100%;
		max-width: 50em;
		margin: 0 auto;
	}
}

.blog-header {
	background-color: #0e83d7;
	color: #fff;
	text-align: center;
	padding: 10px;
}

.blog-header h2 {
	margin: 0;
}

.home .content-area {
	width: 100%;
	display: flex;
}

.home .content-area aside {
	width: 30%;
	margin-right: 5%;
}

.home .content-area main {
	width: 65%;
}

.sidebar {
	background-color: #fbfbfb;
	padding: 50px;
}